body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(36, 36, 36) !important;
  background: linear-gradient(
    180deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 50%,
    rgba(158, 44, 0, 1) 100%
  ) !important;
}

code {
  font-family: 'Fira Sans', sans-serif !important;
}

.socialStack {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#extrados {
  box-shadow: 0 0 2rem 15px #fff;
}
